body{
    background: #352f5b;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #423a6f;
}
.delete{
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    background-color: #423a6f;
    border: none;
    border-radius: 5%;
    margin: 1%;
    padding : 1% ;
    color: white;
    width: 22rem;
    font-size: 20px;
}

.hide{
    display: none  !important;
}

